body {
    background-color: black;
}

.time {
    background-color: black;
    color: rgb( 0, 255, 0 );
    font-family: 'seven_segment';
    text-align: center;
    height: 100vh;
    margin: 20vh auto;
}

.hhmm {
    font-size: 50vmin;
    display: inline-block;
}

.seconds {
    padding-left: 5vmin;
    display: inline-block;
    font-size: 20vmin;    
}

@font-face {
    font-family: seven_segment;
    src: url( 'http://torinak.com/font/7segment.ttf' ) ;
}